<%
  indent_level = @result.raw.fetch('ancestors', []).length

  posinset = record_number + 1
  setsize = collection_size

  labelledby = "infinite-item-dispay-string-#{record_number}"
  describedby = "infinite-item-notes-#{record_number}"
%>
<div class="infinite-item infinite-item-indent-<%= indent_level %>"
     role="article"
     aria-labelledby="<%= labelledby %>"
     aria-describedby="<%= labelledby %> <%= describedby %>"
     aria-posinset="<%= posinset %>"
     data-recordnumber="<%= record_number %>"
     aria-setsize="<%= setsize %>"
     data-collectionsize="<%= collection_size %>"
     tabindex="0"
     data-uri="<%= @result.uri %>"
>

  <nav class="context" style="display: none" aria-hidden="true">
    <ul>
      <% if @result.is_a?(ArchivalObject) %>
        <% @result.ancestors.each do |ancestor_json| %>
          <% ancestor = record_from_resolved_json(ancestor_json) %>
          <li><%= link_to ancestor.display_string.html_safe, "#scroll::#{ancestor.uri}", :"data-uri" => ancestor.uri %></li>
        <% end %>
        <% if @result.level == 'series' %>
          <li><%= link_to @result.display_string.html_safe, "#scroll::#{@result.uri}", :"data-uri" => @result.uri %></li>
        <% end %>
      <% elsif @result.is_a?(Resource) %>
        <li><%= link_to @result.display_string.html_safe, "#scroll::#{@result.uri}", :"data-uri" => @result.uri %></li>
      <% end %>
    </ul>
  </nav>

  <div class="information">
    <div class="row">
      <div class="col-sm-9">
        <h3 id="<%= labelledby %>">
          <a class="record-title" href="<%= app_prefix(@result.uri) %>">  <%== @result.display_string %></a>
        </h3>
      </div>

      <div class="col-sm-3">
        <%# PLUGIN CONTENT START %>
        <% if @result.is_a?(ArchivalObject) && @result.respond_to?(:container_titles_and_uris) && !@result.container_titles_and_uris.empty? %>
          <div>
            <%= render partial: 'inline_request_button', :locals => {:record => @result} %>
          </div>
        <% end %>
        <%# PLUGIN CONTENT END   %>
      </div>
  </div>

  <div class="record-type-badge">
    <%= @result.container_summary_for_badge %>
  </div>

  <dl id="<%= describedby %> " class="dl-horizontal scroll-view-notes">
    <% scroll_view_notes_order.each do |note_type| %>
      <% the_note = @result.note(note_type) %>
      <% if the_note && !the_note['note_text'].blank? %>
        <dt class="scroll-view-note-label-<%= note_type %>">
          <%= the_note['label'] %>
        </dt>
        <dd class="scroll-view-note-content-<%= note_type %>">
          <%= render partial: 'shared/single_note', locals: {:type => note_type, :note_struct => the_note, :notitle => true} %>
        </dd>
      <% end %>
    <% end %>
  </dl>

  <dl class="dl-horizontal">
    <% unless @result.dates.blank? %>
        <dt><%= t('resource._public.dates') %></dt>
        <% @result.dates.each do |date| %>
        <dd>
          <%= inheritance(date['_inherited']).html_safe %>
          <%= date['final_expression'] %>
        </dd>
        <% end %>
    <% end %>

    <% unless @result.extents.blank? %>
        <dt><%= t('resource._public.extent') %></dt>
        <% @result.extents.each do |extent| %>
          <dd>
            <%= inheritance(extent['_inherited']).html_safe %>
            <%= extent['display']%>
          </dd>
        <% end %>
    <% end %>

    <% unless @result.agents.blank? %>
      <dt><%= t('pui_agent.related') %></dt>
        <% @result.agents.collect(&:last).flatten.each do |relationship| %>
          <dd>
            <%= link_to relationship.fetch('_resolved').fetch('title'), app_prefix(relationship.fetch('ref')) %>
          </dd>
        <% end %>
    <% end %>

    <% if @result['language'] %>
        <dt><%= t('resource._public.lang')%></dt>
        <dd><%= t('enumerations.language_iso639_2.' + @result['language'].downcase) %></dd>
    <% end %>
  </dl>
</div>
